@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.landing-container {
    background-color: rgb(4, 20, 45);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.landing-subscription-heading {
    text-align: left;
    font-family: 'Raleway', sans-serif !important; 
    color: rgb(255,255,255);
    align-items: left;
}

.landing-subscription {
    align-items: center;
    text-align: left;
}

.landing-group {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif !important; 
    color: rgb(255,255,255);

  }

.landing-box {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .landing-box img {
    max-width: 100%;
    height: auto;
  }
  .redirect {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,255,255);
  }