
.head-shot {
    border-radius: 50px;
    width: 90%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: center;
}

.board-container {
    background-color: #ffffff;
    position: -5000px;
}

.spacer {
    background-color: transparent;
    padding: 160px;
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    color: white;
    justify-content: center;
    align-content: center;
}

.spacer2 {
    margin-top: 110px;
    background-color: white;
    padding-top: 75px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center;
    

}
.meet-the-team {

    padding: 0rem;
    font-family: 'Black Han Sans', sans-serif;
}


.board-title {
    padding: 5rem;
    font-family: 'Black Han Sans', sans-serif;
    
}

.board-photo {
    width: 100%;
    margin-top: -200px;
    z-index: -1000;
    position: absolute;
}
.officer-subtext {
    font-size: 1rem;
}

.media-button {
    margin: 0 3% 5% 0;
    min-width: 150px;
    min-height: 60px;
}



.flip-container{
 
  width: 350px;
  height:350px;
  background-color:transparent;
  border-radius: 10px;
  perspective: 1200px;
}

/* Flip Inner Container */
.flip-inner-container{
  position: relative;
  width: 100%;
  height: 95%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  

}
/* add hover to Flip horizonally */
.flip-container:hover .flip-inner-container{
  transform: rotateY(180deg);
}

/* position front and back */

.flip-front,
.flip-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* background-color: green; */
  border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* flip  front from Start Here */
.flip-front{
  background: #56CCF2;  /* fallback for old browsers */
}

.head-icon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;  
  border-radius:50%;
  margin: auto;
  margin-top: 20px;
}

.flip-front h3{
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}

/* flip back from Start Here */
.flip-back{
  background: #56CCF2;  /* fallback for old browsers */

  transform: rotateY(180deg);
padding: 20px;
}

.flip-back form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flip-back form input[type="text"], .back form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  color:#ffffff;
}
.flip-back form input[type="submit"] {

  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.flip-back form input[type="submit"]:hover {
  background: linear-gradient(to right, #434343, #000000); 
}
.flip-back .social-icons {
  display: flex;
  justify-content: center;
}
.flip-back .social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  padding:10px;
  width: 30px;
  height:30px;
  font-size: 30px;
  border-radius:50%;
  background-color: #000000;
}

