@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Navbar container */
.header {
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #1AB4E2;
  transition: .3s ease-in-out;
  overflow: hidden;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will vertically center the child elements */
  height: 100px; /* Adjust the height as needed */
  padding: 0 1rem;
  transition: .3s ease-in-out;
  box-sizing: border-box;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header.scrolled .navbar {
  height: 70px;
  padding: 0 10rem;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
}

/* Navbar title */
.navbar-title {
  color: #011631 !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800 !important;
  font-size: 36px !important;
  flex-grow: 1;
  align-items: center;
}

/* Navbar links */
.navbar-link {
  color: #011631 !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  margin-right: 20px !important;
  
}

.navbar-link .scrolled{
  color: red !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  margin-right: 20px !important;
  
}

/* Navbar links hover effect */
.navbar-link:hover {
  color: #FFFFFF !important;
  background-color: rgba(254, 186, 1, 0.85) !important;
}

.navbar .logo {
  margin-right: 10px;
  height: 65px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgba(0, 0, 0, .9);
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: .3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .header .navbar img {
    width: 150px;
  }
}
