@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.landing-container {
  background-color: rgb(4, 20, 45);
  padding: 4rem 0 4rem 0;
  display: flex;
  color: rgb(7, 53, 87);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.beige-text {
  color: rgb(242, 175, 95);
}

.image-container {
  display: flex;
  text-align: center;
  justify-content: center;

}
.img {
  width: 90%;
  border-radius: 10%;
  border: 5px solid rgb(7, 53, 87);
}

.navy-text {
  color: rgb(7, 53, 87);
}
.title-text {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif; 
}

.landing-subscription {
    align-items: center;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.landing-group {
  display: flex;
  justify-content: space-around;
  padding: 20px;

}

.landing-padding {
  padding: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.landing-subscription-heading {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Raleway', sans-serif !important; 
  color: rgb(255,255,255);
  align-items: left;
}
.landing-subscription-heading-2 {
  background-color: #1AB4E2;
  
}

.landing-group {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif !important; 
    color: rgb(255,255,255);

  }

.landing-box {
    text-align: center;
    align-self: center;
    width: 50%;
    margin-top: -90px;
    position: absolute;
  }
  
  .landing-box img {
    max-width: 100%;
    height: auto;
  }
  .redirect {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,255,255);
  }

  